/* .subnav_link {
    color: "rgba(255,255,255,.5)"
}
 */
a.subnav_link:link {
    text-decoration: none;
    color: rgba(255, 255, 255, .5)
}

a.subnav_link:hover {
    cursor: pointer;
    color: white;
}

a.subnav_link:visited {
    color: rgba(255, 255, 255, .5)
}

a.subnav_link:active {
    color: white;
}